@keyframes loader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3000px);
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes circletranslate {
  from {
    transform: translateY(-55vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes charging-menu {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes selection {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
}

.loader {
  background-color: #FFF;
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  z-index: 2;
  opacity: 1;
  display: flex;
  align-items: center;
  animation: loader 1s 2s forwards;
}
.loader__div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.loader__circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: rotate(0);
  transform: translateY(-55vh);
  border-left: solid 10px #9356DC;
  border-top: solid 10px #FF79DA;
  border-right: solid 10px #99E2D0;
  margin: 0 1.5rem;
  animation: spin 1.5s linear infinite, circletranslate 0.5s;
}

.circle--1 {
  animation-delay: -100ms;
}
.circle--2 {
  animation-delay: -200ms;
}
.circle--3 {
  animation-delay: -300ms;
}

.btn {
  border-radius: 24px;
  background: radial-gradient(at 20% top, #FF79DA, #9356DC);
  border: none;
  padding: 1rem;
  color: #FFF;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 5px #C6C6C6;
  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  background: radial-gradient(at 20% top, #ff79da, #a16be0);
  box-shadow: 0 8px 8px #b8b7b7;
  transform: scale(1.1);
}

header {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 2.2rem;
}
@media screen and (min-width: 768px) {
  header h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }
}
@media screen and (min-width: 992px) {
  header h1 {
    font-size: 4rem;
    margin: 0.8rem 0;
  }
}

.location {
  background: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  box-shadow: inset 0 10px 5px -8px #c5c4c4;
}
.location i {
  padding-left: 20px;
}
.location input {
  background-color: #ececec;
  border: none;
  font-size: 1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .location {
    height: 60px;
    font-size: 1.5rem;
  }
  .location input {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .location {
    height: 80px;
    font-size: 2rem;
  }
  .location input {
    font-size: 1.8rem;
  }
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
}
.explore h2 {
  padding: 0 15px;
  font-size: 1.8rem;
  margin-bottom: 15px;
}
.explore p {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.selection {
  margin: 2.5rem 1rem;
}
.selection h2 {
  padding: 1rem 0.5rem;
  align-self: flex-start;
}
.selection__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.selection__btn {
  max-width: 320px;
  width: 100%;
  min-height: 71px;
  padding: 1rem;
  border-radius: 17px;
  background-color: #f9f9f9;
  border: none;
  box-shadow: 0 5px 5px #EAEAEA;
  font-size: 1rem;
  margin: 0.8rem 0.5rem;
  position: relative;
  transition: 1s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.selection__btn:hover {
  background-color: #e9ddf8;
}
.selection__btn:hover > .selection__icon {
  color: #9356DC;
}
.selection__btn span {
  border: 1px solid #9356DC;
  background-color: #9356DC;
  color: #FFF;
  padding: 0.2rem 0.5rem;
  border-radius: 25px;
  display: inline-block;
  position: absolute;
  left: -15px;
}
.selection__icon {
  color: #868686;
  font-size: 1.2rem;
  display: inline-block;
  position: absolute;
  left: 30px;
  margin-right: 2rem;
}

.restaurants {
  background-color: #f4f4f4;
  padding-bottom: 2rem;
}
.restaurants h2 {
  padding: 2rem 0 1rem 1rem;
}

@media screen and (min-width: 768px) {
  .restaurants__flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .selection__btn {
    max-width: 280px;
  }
  .selection__flex {
    flex-direction: row;
  }
  .restaurants__flex {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
.card {
  background-color: #FFF;
  margin: 0rem 1rem 2rem 1rem;
  width: auto;
  height: 200px;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 5px #b8b7b7;
}
.card__img {
  border-radius: 15px 15px 0 0;
  height: 70%;
  width: 100%;
  object-fit: cover;
}
.card__new {
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #217460;
  font-weight: bold;
  padding: 0 10px;
}
.card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
}
.card__heart {
  position: relative;
}
.card__heart--empty {
  position: absolute;
  font-size: 1.5rem;
  top: -10px;
  right: 0;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}
.card__heart--full {
  position: absolute;
  font-size: 1.5rem;
  top: -10px;
  right: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  color: transparent;
  background-image: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
}
.card__heart:hover .card__heart--empty {
  opacity: 0;
}
.card__heart:hover .card__heart--full {
  opacity: 1;
}

footer {
  background-color: #2d2d2d;
  padding: 1rem 1rem 1.5rem 1rem;
  color: #FFF;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
footer li {
  font-size: 0.9rem;
  line-height: 1.8rem;
}
footer .fa-utensils {
  padding-right: 7px;
}

@media screen and (min-width: 768px) {
  footer h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  footer li {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 992px) {
  footer h2 {
    font-size: 2rem;
  }
  footer li {
    font-size: 1.5rem;
  }
}
header {
  position: relative;
}
header .back {
  position: absolute;
  top: 1.8rem;
  left: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.menu {
  height: auto;
  width: 100%;
  transform: translateY(-40px);
  border-radius: 35px 35px 0 0;
  background-color: #f4f4f4;
  padding: 1rem 1.5rem;
  margin-bottom: -40px;
}
.menu__header h2 {
  font-family: "Shrikhand", cursive;
  text-align: left;
}
.menu__header i {
  position: absolute;
  top: -25px;
}
.menu__subtitle {
  margin: 1rem 0;
  position: relative;
}
.menu__subtitle::after {
  content: "";
  width: 40px;
  padding-bottom: 50px;
  border-bottom: solid 4px #99E2D0;
  position: absolute;
  left: 0;
  bottom: -4px;
}
.menu__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

@media screen and (min-width: 768px) {
  .menu__header {
    margin-bottom: 20px;
  }
  .menu__subtitle {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .menu__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2rem;
  }
}
.item {
  height: 60px;
  width: 100%;
  background-color: #FFF;
  border-radius: 15px;
  padding-left: 1rem;
  margin-bottom: 0.8rem;
  opacity: 0;
  box-shadow: 0 5px 5px #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  animation: charging-menu 0.8s ease-in-out forwards;
  position: relative;
}
.item--1 {
  animation-delay: 100ms;
}
.item--2 {
  animation-delay: 200ms;
}
.item--3 {
  animation-delay: 300ms;
}
.item--4 {
  animation-delay: 400ms;
}
.item--5 {
  animation-delay: 500ms;
}
.item--6 {
  animation-delay: 600ms;
}
.item--7 {
  animation-delay: 700ms;
}
.item--8 {
  animation-delay: 800ms;
}
.item--9 {
  animation-delay: 900ms;
}
.item--10 {
  animation-delay: 1000ms;
}
.item__name {
  padding-top: 0.5rem;
  width: calc(100% - 60px);
  height: 100%;
  line-height: 1.3rem;
  overflow: hidden;
}
.item__name h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item__name p {
  font-size: 0.8rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item__price {
  height: 100%;
  width: 60px;
  padding-bottom: 0.7rem;
  overflow: hidden;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}
.item__chosen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  height: 100%;
  width: 50px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-out;
}
.item__chosen--icon {
  transform: rotate(0);
  color: #FFF;
  transition: transform 0.5s ease-out;
}
.item:hover .item__name {
  width: calc(100% - 110px);
}
.item:hover .item__price {
  transform: translateX(-50px);
}
.item:hover .item__chosen {
  transform: scaleX(1);
}
.item:hover .item__chosen--icon {
  transform: rotate(360deg);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .item {
    height: 90px;
  }
  .item__name h4 {
    padding: 1rem 0 0.5rem 0;
    font-size: 1.3rem;
  }
  .item__name p {
    font-size: 1.1rem;
  }
  .item__price {
    font-size: 1.3rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
  }
  .item__chosen {
    font-size: 1.5rem;
    width: 100px;
  }
  .item:hover .item__name {
    width: calc(100% - 140px);
  }
  .item:hover .item__price {
    transform: translateX(-80px);
  }
  .item:hover .item__chosen {
    width: 80px;
  }
}

/*# sourceMappingURL=main.css.map */
