$font-family: "Shrikhand", cursive;
$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$colorGrey: #C6C6C6;
$grey: (light: #F6F6F6, medium: #EAEAEA, shadow: #b8b7b7, dark: #353535);
$mobile: 767px;
$tablet: 768px;
$desktop: 992px;
