header {
    position: relative;

    .back {
        position: absolute;
        top: 1.8rem;
        left: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.menu {
    height: auto;
    width: 100%;
    transform: translateY(-40px);
    border-radius: 35px 35px 0 0;
    background-color: lighten($colorGrey, 18);
    padding: 1rem 1.5rem;
    margin-bottom: -40px;

    &__header {
        h2 {
            text-align: left;
        }
        i {
            position: absolute;
            top: -25px;
        }

    }

    &__subtitle {
        margin: 1rem 0;
        position: relative;

        &::after {
            content: "";
            width: 40px;
            padding-bottom: 50px;
            border-bottom: solid 4px $colorTertiary;
            position: absolute;
            left: 0;
            bottom: -4px;
        }
    }

    &__btn {
        @include flexbox($spacing: center);
        padding: 1.5rem 0;
    }
}

@media screen and (min-width:$tablet) {
    .menu__subtitle {
        font-size: 25px;
    }
}



@media screen and (min-width: $desktop) {
    .menu__header {
        margin-bottom: 20px;
        h2 {
            text-align: center;
        }
    }
    .menu__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 2rem;
    }
}