   .btn {
        border-radius: 24px;
        background: radial-gradient(at 20% top, $colorSecondary, $colorPrimary);
        border: none;
        padding: 1rem;
        color: #FFF;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 0 5px 5px $colorGrey;
        transition: transform 0.3s ease-in-out;

        &:hover {
            background: radial-gradient(at 20% top, lighten($colorSecondary, 0), lighten($colorPrimary, 5));
            box-shadow: 0 8px 8px map-get($map: $grey, $key: shadow);
            transform: scale(1.1);
        }
    }