.loader {
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    position: fixed;
    inset: 0;
    z-index: 2;
    opacity: 1;
    display: flex;
    align-items: center;
    animation: loader 1s  4s forwards;
    &__div {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        
    }
    &__circle {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        transform: rotate(0);
        transform: translateY(-55vh);
        border-left: solid 10px $colorPrimary;
        border-top: solid 10px $colorSecondary;
        border-right: solid 10px $colorTertiary;
        margin: 0 1.5rem;
        animation: spin 1.5s linear infinite, circletranslate 1.5s;
        

    }
}

.circle{
    @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: -100ms * $i;
            }
        }
}