    @keyframes charging-menu {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes selection {
        0% {
            transform: scaleX(0);
            opacity: 0;
        }

        100% {
            transform: scaleX(70px);
            opacity: 1;
        }

    }


    .item {
        height: 60px;
        width: 100%;
        background-color: #FFF;
        border-radius: 15px;
        padding-left: 1rem;
        margin-bottom: 0.8rem;
        box-shadow: 0 5px 5px map-get($grey, medium);
        @include flexbox($spacing: space-between);
        animation: charging-menu .8s ease-in-out;
        @for $i from 1 through 10 {
                        &--#{$i} {
                            animation-delay: 100ms * $i;
                        }
                    }
        position: relative;

        &__name {
            padding-top: 0.5rem;
            width: calc(100% - 60px);
            height: 100%;
            line-height: 1.3rem;
            overflow: hidden;

            h4 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            p {
                font-size: .8rem;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &__price {
            height: 100%;
            width: 60px;
            padding-bottom: 0.7rem;
            overflow: hidden;
            position: absolute;
            right: 0;
            @include flexbox($align:flex-end, $spacing:center);
            transform: translateX(0);
            transition: transform .5s ease-out;
        }

        &__chosen {
            @include flexbox($align:center, $spacing:center);
            background-color: $colorTertiary;
            border-radius: 0 15px 15px 0;
            height: 100%;
            width: 50px;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s ease-out;

            &--icon {
                transform: rotate(0);
                color: #FFF;
                transition: transform .5s ease-out;
            }
        }

        &:hover {
            .item__name {
                width: calc(100% - 110px);

            }

            .item__price {
                transform: translateX(-50px);
            }

            .item__chosen {
                transform: scaleX(1);

                &--icon {
                    transform: rotate(360deg);
                }
            }
        }

    }